body
{
  background-color: #AFB3EF;
}

.socialmedia
{
  position: absolute;
  top: 0;
  margin-top: 1%;
}

.socialmedia > a > img
{
  width:3%
}

#maintitle
{
  color: #000;    
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  font-size: 2em;
}


/* image slider */
*{box-sizing:border-box}

.slider 
{
  max-height: 700px;
  max-width: 700px;
  position: relative;
  margin: auto;
}
.mySlides
{
  display:none;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 240px;
  max-height: 100%;
}
.slider > .mySlides > img
{
  height: 100%;
  width: 100%;
}
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top:40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover 
{
  background-color: grey;
}

.style
{
  position: relative;
  margin-left: 50%;
  margin-top: -1%;
  margin-bottom: 2%;

}

.dot 
{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover 
{
  background-color: #717171;
}
.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

/* home nav bar*/
  
*{box-sizing:border-box;}

.nav 
{
  display:block;
  height: 100%;
}


.nav ul 
{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
  
ul 
{
  list-style: none;
  padding: 0;
}

.navLink
{
  float: left;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  width: calc(100%/4);
  height: 100%;
  color: #fff;
  font-size: 2vw;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 10em;
  border-left: 2px solid #000;
  background-position: center 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  position: relative;
}

.navLink.Music
{
  background-image:url("../assets/music.JPG");
  background-position: left top;
} 
.navLink:first-child 
{
  border-left: none;
}
.navLink.Mixtape
{
  background-image:url("../assets/mixtape.JPG");
  background-position: left top;
} 
.navLink.Tours
{
  background-image:url("../assets/tours.JPG");
  background-position: left top;
} 
.navLink.About
{
  background-image:url("../assets/about.JPG");
  background-position: left top;
} 

.nav li
{
  display: inline-block;   
}
.navLink a 
{
  height: 100%;
  display: block;
  font-weight: 200;
}
.nav>ul>.navLink>a
{
  color: inherit;
  font-size:2em;
  text-decoration:none;
}

.navLink:after
{
  content: '';
  display: table;
  clear: both;
}

/* navbar*/
.nav2
{
  text-align: center;
  display:block;
  height: 100%;
  margin-top: -1em;

}
.nav2 ul 
{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
  
ul 
{
  list-style: none;
  padding: 0;
}

.nav2 li
{
  display: inline-block;   
}

.navLink2
{
  padding: 15px;
  text-align: center;
  color: #000;
  font-family: Tahoma, Geneva, sans-serif;
}
  

.navLink2 a 
{
  height: 100%;
  display: block;
  font-weight: 200;
  padding: 10px 3px;
  margin-top: 0;
  color: inherit;
  font-size:1.2em;
  text-decoration:none;
}

/*Music*/

#musicclick
{
  text-align: center;
  font-size: 2em;
  margin-bottom: -3%;
}
#musicvideos
{
  display: inline-block;
  position: relative;
  width:450px;
  height:250px;
  float: left;
  margin-left: 10%;
  margin-top: 3em;
  text-align: center;
}

#musicvideos img
{
  width: 100%;
  height:100%;
  border-radius: 5px;
}

#musicvideos > p
{
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0%;
}

/*Mixtape*/
#mixtapeinfo
{
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
}


.Fill
{
/*   position: relative;
  height: 20px;
  width: 150px;
  top: 5px;
  left: 5px;
  font-size: 1em;
  cursor: pointer; */
  display: inline-block;
  height: 30px;
  width: 200px;
  margin: 5px;
  border: 3px white;
  background-color: #3cb371;

}

.empty
{
  display: inline-block;
  height: 30px;
  width: 200px;
  margin: 5px;
  border: 3px white;
  background-color: #fff;
  
}

.hold
{
  border:solid #ccc 4px;
}

.hovered
{
  background: #AFB3EF;
  border-style: dashed;
}

.invisible
{
  display: none;
}


/*Tours*/
#tickets
{
font-size: 1.3em;
text-align: center;
}
table
{
  width:500px;
  position: relative;
  left: 30%;
  background-color: #fff;
}

table,th,td
{
  border: 2px solid #000;
  border-collapse:collapse;
}

th,td
{
  text-align: center;
  padding: 5px;
}
tr:nth-child(even)
{
  background-color: #fff;
}

tr:nth-child(odd)
{
  background-color: #ddd;
}

/*about*/

.abouttxt:hover > #about
{
  color: #fff;
}
.abouttxt:hover > #hoverabove
{
  color: #000;
}

#about
{
font-size: 1.1em;
color: #000;
margin-top:-1%;
}
#hoverabove
{
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin-top: 0%;
}

.abouttxt
{
  padding-left: 1%;
  padding-right: 1%;
  border: 2px solid black;
  word-wrap: break-word;
  position: relative;
  background-color: black;
}

#bandabout
{
  display: inline-block;
  position: relative;
  width: 320px;
  height: 250px;
  float: left;
  margin-left: 0.5%;
  margin-top: 3%;
}

#bandabout img
{
  width: 100%;
  height:100%;
  border-radius: 5px;
}

#bandabout:hover img
{
  filter: blur(5px)brightness(20%);
}

#bandabout >#bandinfo
{
  position: absolute;
  top:30%;
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 100%;
  opacity:0;
}
#bandabout:hover >#bandinfo
{
  opacity: 1;
}

/*Demo*/

#demoinfo
{
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}
iframe
{
  margin-left: 30%;
}
#youtubelink
{
  margin-left: 40%;
  font-size: 1em;
}






